.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#drum-machine {
  width: 50rem;
}

.drumkeys-container {
  transition: background-color 0.2s ease-in-out;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.drumkeys:hover,
.drumkeys-active,
.drumkeys:active {
  background-color: lawngreen;
  cursor: pointer;
}

.drumkeys:active,
.drumkeys-active {
  transform: translateY(3px);
}