:root {
  --bootstrap-bg-dark: rgb(33, 37, 42);
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#drum-machine {
  width: 50rem;
}

.drumkeys-container {
  transition: background-color 0.2s ease-in-out;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.drumkeys:hover,
.drumkeys-active,
.drumkeys:active {
  background-color: var(--bootstrap-bg-dark);
  cursor: pointer;
}

.drumkeys:active,
.drumkeys-active {
  transform: translateY(3px);
}

.volume-knob {
  width: 60px;
  height: 60px;
  border: 4px solid black;
  border-radius: 50%;
  background-color: var(--bootstrap-bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.volume-knob::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.power-btn-container {
  overflow: hidden;
  background-color: black;
}

.power-button {
  padding: 15px 25px;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.power-button:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  transform: scale(0.97);
}

.power-btn-label,
.power-light-container p {
  font-size: 12px;
}

.power-light-container {
  margin-top: 1rem;
}

.on-off-lights {
  width: 20px;
  height: 10px;
}